body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #fbeffe;
  margin: 0;
  padding: 20px;
}

h1 {
  font-family: Cascadia Code, monospace;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

video, canvas {
  width: 100%;
  max-width: 640px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border: 4px solid #2d2a2a;
  border-radius: 10px;
}

video {
  transform: scaleX(-1);  /* Lật ngang video */
}

button {
  margin: 10px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #7e62b3;
  color: white;
}

button:hover {
  background-color: #654b96;
}

.hidden {
  display: none;
}

.controls {
  margin: 5px 0;
}

select {
  padding: 5px 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#countdownOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 10px black;
  z-index: 10;
}

.preview-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

#editCanvas {
  aspect-ratio: 7 / 20;
  width: 100%;
  height: auto;
  max-width: 350px;
}

.photo-preview {
  aspect-ratio: 4 / 3;
  width: 100%;
  max-width: 150px;
  height: auto;
  object-fit: contain;
}


@media (max-width: 768px) {
  video {
    max-width: 90%;
  }

  .main-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .video-container {
    width: 100%;
  }
  

  .preview-column {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .photo-preview {
    width: 100px;
    height: 75px;
  }

  button, select {
    width: 100%;
    max-width: 300px;
  }

  h1 {
    font-size: 1.5rem;
  }
}
